.tile{
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;
}

.black-tile{
    width: 100px;
    height: 100px;
    background-color: grey;
}

.white-tile{
    width: 100px;
    height: 100px;
    background-color: white;
}